@page "/"
@using static Maui03.WifiScanner

<h1>Scanner Wifi</h1>
<p>Qui sotto trovi in tabella le reti wifi attualmente in vista!</p>

<ul>
    @foreach (Rete rete in reti)
    {
        <li> @rete.MacAddress, @rete.Ssid ( @rete.Channel ) : @rete.Rssi dBm </li>
    }
</ul>

<div class="btn btn-primary w-100" @onclick="Scansiona">refresh</div>

@code{
    private List<Rete> reti = new List<Rete>();

    private async Task Scansiona()
    {
        var scanner = new WifiScanner();
        reti = await scanner.GetAllNearbyNetworksAsync();
        StateHasChanged();
    }

}