@page "/"
@using static Maui03.WifiScanner

<h1>Scanner Wifi</h1>
<p>Qui sotto trovi in tabella le reti wifi attualmente in vista!</p>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>macAddress</th>
                <th>SSID</th>
                <th class="text-end">Distanza</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Rete rete in reti)
            {
                <tr>
                    <td>@rete.MacAddress</td>
                    <td>@rete.Ssid</td>
                    <td class="text-end">@rete.Distanza.ToString("N2") mt</td>
                </tr>
            }
        </tbody>
    </table>    
</div>

@contatore

@code{
    private List<Rete> reti = new List<Rete>();
    private WifiScanner scanner = new WifiScanner();
    private Orologio timer = new Orologio(1000);
    private int contatore = 0;

    protected override async Task OnInitializedAsync()
    {
        reti = await scanner.GetAllNearbyNetworksAsync();
        // timer.Start(() =>
        // {
        //     contatore++;
        // });
    }
}