@page "/piatti"
@using Maui01.Strutture;
@inject BancaDati db;

<h3>Piatti</h3>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Piatto singolo in db.piatti)
            {
                <tr>
                    <td>@singolo.Nome</td>
                    <td>@singolo.Prezzo</td>
                    <td><span class="btn btn-danger" @onclick="e => Cancella(singolo)">cancella</span></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td><input class="form-control" @bind="nuovo.Nome" /></td>
                <td><input type="number" class="form-control" @bind="nuovo.Prezzo" /></td>
                <td>
                    <span class="btn btn-success" @onclick="Aggiungi">aggiungi</span>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

    
@code {
    private Piatto nuovo = new Piatto();

    private void Aggiungi()
    {
        db.piatti.Add(nuovo);
        db.Save();
        nuovo = new Piatto();
    }

    private void Cancella(Piatto daCancella)
    {
        db.piatti.Remove(daCancella);
        db.Save();
    }
}
